#volume {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transition: opacity 0.5s ease;
  pointer-events: none;
  display: none;
  -moz-transform: translate(-50%, -50%);
}

#volume.visible {
  display: block;
}

#volume > span {
  width: 3rem;
  height: 4rem;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  display: block;
  z-index: 1;
}

#volume section {
  overflow: hidden;
  position: relative;
  width: 8rem;
  height: 8rem;
  background-color: rgba(0,0,0,0.3);
  border-radius: 4rem;
}

/* Default shows 15 sound pieces */
#volume section div {
  position: absolute;
  left: 50%;
  margin-left: -2px;
  top: 0;
  width: 5px;
  height: 10px;
  -moz-transform-origin: 50% 40px;
  background-color: #666;
}

#volume section div:before,
#volume section div:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 5px;
  height: 10px;
  background-color: #666;
}
#volume section div:before {
  left: -4px;
  -moz-transform: skew(11deg);
}
#volume section div:after {
  right: -4px;
  -moz-transform: skew(-11deg);
}

#volume section div:nth-child(1) {
  -moz-transform: rotate(12deg);
}
#volume section div:nth-child(2) {
  -moz-transform: rotate(36deg);
}
#volume section div:nth-child(3) {
  -moz-transform: rotate(60deg);
}
#volume section div:nth-child(4) {
  -moz-transform: rotate(84deg);
}
#volume section div:nth-child(5) {
  -moz-transform: rotate(108deg);
}
#volume section div:nth-child(6) {
  -moz-transform: rotate(132deg);
}
#volume section div:nth-child(7) {
  -moz-transform: rotate(156deg);
}
#volume section div:nth-child(8) {
  -moz-transform: rotate(180deg);
}
#volume section div:nth-child(9) {
  -moz-transform: rotate(204deg);
}
#volume section div:nth-child(10) {
  -moz-transform: rotate(228deg);
}
#volume section div:nth-child(11) {
  -moz-transform: rotate(252deg);
}
#volume section div:nth-child(12) {
  -moz-transform: rotate(276deg);
}
#volume section div:nth-child(13) {
  -moz-transform: rotate(300deg);
}
#volume section div:nth-child(14) {
  -moz-transform: rotate(324deg);
}
#volume section div:nth-child(15) {
  -moz-transform: rotate(348deg);
}
#volume section div:last-child{
  display: none;
}


#volume section div.active,
#volume section div.active:before,
#volume section div.active:after {
  background: #00abcc;
}

#volume.mute section div,
#volume.mute section div:before,
#volume.mute section div:after {
  background: #666;
}

/* Icon states */
#volume span.channel-type {
  background-size: 3rem auto;
}

/* Telephony channel, just shows 6 progress pieces */
#volume[data-channel="telephony"] section div {
  width: 16.5%!important;
}

/* First always keep active */
#volume[data-channel="telephony"] section div:first-child {
  background: #00abcc;
}

#volume[data-channel="telephony"] section div:nth-child(n+6) {
  border-radius: 0 0.6rem 0.6rem 0;
  /* Last visible bar */
}

#volume[data-channel="telephony"] section div:nth-child(n+7) {
  display: none;
}

#volume[data-channel="telephony"] span.channel-type {
  background-image: url('images/telephony_normal.png');
}

/* bt_sco channel, shows 16 (all of them) progress pieces */
#volume[data-channel="bt_sco"] section div {
  width: 6.25%!important;
}

/* First always keep active */
#volume[data-channel="bt_sco"] section div:first-child {
  margin-left: 0;
  background: #00abcc;
}

#volume[data-channel="bt_sco"] section div:nth-last-child(2) {
  border-radius: 0;
}

#volume[data-channel="bt_sco"] section div:last-child {
  border-radius: 0 0.6rem 0.6rem 0;
  display: block;
  /* Last visible bar */
}

#volume[data-channel="bt_sco"] span.channel-type {
  background-image: url('images/telephony_normal.png');
}

/* Notification channel */
#volume[data-channel="notification"] span.channel-type {
  background-image: url('images/ringer-notifications_normal.png');
}

#volume[data-channel="notification"].mute span.channel-type {
  background-image: url('images/ringer-notifications_silent.png');
}

#volume[data-channel="notification"].mute.vibration span.channel-type {
  background-image: url('images/ringer-notifications_vibrate.png');
}

/* Alarm channel */
#volume[data-channel="alarm"] span.channel-type {
  background-image: url('images/alarm_normal.png');
}

#volume[data-channel="alarm"].mute span.channel-type {
  background-image: url('images/alarm_silent.png');
}

/* Content channel */
#volume[data-channel="content"] span.channel-type {
  background-image: url('images/media_normal.png');
}

#volume[data-channel="content"].mute span.channel-type {
  background-image: url('images/media_silent.png');
}
